[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
alembic = "*"
fastapi-sqlalchemy = "*"
pydantic = "*"
asyncpg = "*"
databases = {extras = ["postgresql"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
pyjwt = "*"
fastapi-mail = "*"
jinja2 = "*"
celery = "*"
pytest = "*"
requests = "*"
aiopg = "*"
redis = "*"
finnhub-python = "*"
tinvest = "*"
implicit = "*"
scipy = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.9"
